<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{trips[0].origin}} to {{trips[0].destination}}">
    <ion-content class="padding">

<h4>Soonest Train</h4>
        <div class="card">
            <div class="item item-text-wrap">
                <blockquote style="padding-bottom:0px; padding-top:0px; border-color:blue;">
                        <p style="font-size:17px;">
                        <b>From: </b>{{trips[0].origin}}
                        <br>
                        <b>To: </b>{{trips[0].destination}}
                        <br>
                        <b>Time: </b>{{trips[0].trips[0].origTime}} - {{trips[0].trips[0].destTime}}
                        <br>
                        <b>Fare: </b>{{trips[0].trips[0].fare}}
                        <br>
                    </p>
                </blockquote>
            </div>
        </div>

       <h4>Later Trains</h4>
        <div class="card"  ng-repeat="trip in trips[0].trips">
            <div class="item item-text-wrap">
                <blockquote style="padding-bottom:0px; padding-top:0px; border-color:blue;">
                    <p>
                        <b>From: </b>{{trips[0].origin}}
                        <br>
                        <b>To: </b>{{trips[0].destination}}
                        <br>
                        <b>Time: </b>{{trip.origTime}}
                        <br>
                        <b>Fare: </b>{{trip.fare}}
                        <br>
                        
                    </p>
                </blockquote>

            </div>
        </div>

    </ion-content>
</ion-view>
