<ion-view view-title="Account">
    <ion-content>
        <ion-list style="margin-top:15px;">
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Location
    </ion-toggle>
    </ion-list>

        <div class="card">
            <div class="item item-text-wrap">
                The Bart app was made by students Alex Fine and Sam Schickler. If you would like to contribute to the bart app, the repository is located at https://github.com/gadgetsam/Bart-App-Ionic.
            </div>
        </div>
       
    </ion-content>
</ion-view>