<ion-view view-title="Favorites">
    <ion-content>
        <!--      <p ng-repeat="trip in trips">Orig Time "{{trip.trips[0].origTime}}" Destination Time"{{trip.trips[0].destTime}}"Orgin "{{trip.origin}}"destination"{{trip.destination}}"</p>-->
<!--
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
-->
        <div style="margin:10px;">
            <div class="row">
                <button class="button button-small button-outline button-calm icon" style="width:60%; margin-right:1%;" ng-click="modal.show()">Quick Lookup
                </button>
                <button class="button button-small button-outline button-calm icon ion-ios-plus-outline" style="width:20%; margin-right:1%;  margin-left:1%;" ng-click="modal2.show()">
                </button>
                <button class="button button-small button-outline button-calm icon  ion-location" style="width:20%; margin-left:1%; margin-right:1%;" ng-click="showAlert()">
                </button>
                <button class="button button-small button-outline button-calm icon ion-ios-refresh" style="width:10%; margin-left:1%;" ng-click="tripGetter(123,213, 1)">
                </button>
            </div>
        </div>

        <ion-list>

            <ion-item class="item-remove-animate item-icon-right" ng-repeat="trip in trips" type="item-text-wrap" href="#/tab/chats/{{$index}}" ng-click="update($index)">
                <blockquote style="margin-top:0px; margin-bottom:0px; padding:0px; padding-left:10px; border-color:{{trip.trips[0].routes}};">
                    <div class="row">
                        <h3>From {{trip.origin}} to {{trip.destination}} </h3>

                    </div>
                    <div class="row">

                         <p style="font-size:13px;">{{trip.trips[0].origTime}} - {{trip.trips[0].destTime}}<span style="margin-left:30px;"></span><span style=" font-size:14px;"> {{trip.trips[0].timeUntil}}</span> </p>




                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </blockquote>
                <ion-option-button class="button-assertive" ng-click="deleteRoute($index); tabgo()">
                    Delete
                </ion-option-button>
                </div>
            </ion-item>
        <ion-item class="item-remove-animate item-icon-right" ng-show="!trips.length" type="item-text-wrap" >
                <blockquote style="margin-top:0px; margin-bottom:0px; padding:0px; padding-left:10px; border-color:grey;">
                    <div class="row">
                        <h2>Enter your first trip above! </h2>

                    </div>
                    <div class="row">

                         <p style="font-size:14px;">Click the plus button to add your frequent trips! </p>




                    </div>
                </blockquote>
                <ion-option-button class="button-assertive" ng-click="tabgo()">
                    Delete
                </ion-option-button>
                </div>
            </ion-item>
            <!--
            <div class="item-remove-animate " ng-repeat="chat in chats"  href="#/tab/chats/{{chat.id}}">
                <blockquote style="border-color:blue;">Yo Homeslice</blockquote>
                <hr style="padding:0px;">
            </div>
-->
        </ion-list>

        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Quick Lookup</h1>
                    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div style="padding:5%; font-size:17px;">
                        <div class="list">

                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Depart From
                                </div>
                                <select ng-model="start">
                                    <option>12th St. Oakland City Center</option>
                                    <option>16th St. Mission</option>
                                    <option>19th St. Oakland</option>
                                    <option>24th St. Mission</option>
                                    <option>Ashby</option>
                                    <option>Balboa Park</option>
                                    <option>Bay Fair</option>
                                    <option>Castro Valley</option>
                                    <option>Civic Center/UN Plaza</option>
                                    <option>Coliseum</option>
                                    <option>Colma</option>
                                    <option>Concord</option>
                                    <option>Daly City</option>
                                    <option>Downtown Berkeley</option>
                                    <option>Dublin/Pleasanton</option>
                                    <option>El Cerrito del Norte</option>
                                    <option>El Cerrito Plaza</option>
                                    <option>Embarcadero</option>
                                    <option>Fremont</option>
                                    <option>Fruitvale</option>
                                    <option>Glen Park</option>
                                    <option>Hayward</option>
                                    <option>Lafayette</option>
                                    <option>Lake Merritt</option>
                                    <option>MacArthur</option>
                                    <option>Millbrae</option>
                                    <option>Montgomery St.</option>
                                    <option>North Berkeley</option>
                                    <option>North Concord/Martinez</option>
                                    <option>Oakland Int'l Airport</option>
                                    <option>Orinda</option>
                                    <option>Pleasant Hill/Contra Costa Centre</option>
                                    <option>Powell St.</option>
                                    <option>Richmond</option>
                                    <option>Rockridge</option>
                                    <option>San Bruno</option>
                                    <option>San Francisco Int'l Airport</option>
                                    <option>San Leandro</option>
                                    <option>South Hayward</option>
                                    <option>South San Francisco</option>
                                    <option>Union City</option>
                                    <option>Walnut Creek</option>
                                    <option>West Dublin/Pleasanton</option>
                                    <option>Dublin</option>
                                    <option>West Oakland</option>


                                </select>
                            </label>
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Arrive At
                                </div>
                                <select ng-model="end">
                                    <option>12th St. Oakland City Center</option>
                                    <option>16th St. Mission</option>
                                    <option>19th St. Oakland</option>
                                    <option>24th St. Mission</option>
                                    <option>Ashby</option>
                                    <option>Balboa Park</option>
                                    <option>Bay Fair</option>
                                    <option>Castro Valley</option>
                                    <option>Civic Center/UN Plaza</option>
                                    <option>Coliseum</option>
                                    <option>Colma</option>
                                    <option>Concord</option>
                                    <option>Daly City</option>
                                    <option>Downtown Berkeley</option>
                                    <option>Dublin/Pleasanton</option>
                                    <option>El Cerrito del Norte</option>
                                    <option>El Cerrito Plaza</option>
                                    <option>Embarcadero</option>
                                    <option>Fremont</option>
                                    <option>Fruitvale</option>
                                    <option>Glen Park</option>
                                    <option>Hayward</option>
                                    <option>Lafayette</option>
                                    <option>Lake Merritt</option>
                                    <option>MacArthur</option>
                                    <option>Millbrae</option>
                                    <option>Montgomery St.</option>
                                    <option>North Berkeley</option>
                                    <option>North Concord/Martinez</option>
                                    <option>Oakland Int'l Airport</option>
                                    <option>Orinda</option>
                                    <option>Pleasant Hill/Contra Costa Centre</option>
                                    <option>Powell St.</option>
                                    <option>Richmond</option>
                                    <option>Rockridge</option>
                                    <option>San Bruno</option>
                                    <option>San Francisco Int'l Airport</option>
                                    <option>San Leandro</option>
                                    <option>South Hayward</option>
                                    <option>South San Francisco</option>
                                    <option>Union City</option>
                                    <option>Walnut Creek</option>
                                    <option>West Dublin/Pleasanton</option>
                                    <option>Dublin</option>
                                    <option>West Oakland</option>

                                </select>
                            </label>

                        </div>


                        <p ng-if="start.length > 0 && end.length > 0">View your trip from <b>{{start}}</b> to <b>{{end}}</b>
                        </p>
                        <button class="button button-outline button-balanced" ng-click="tripGetter(start, end, 0)">
                            View
                        </button>


                        <!--View the actual train data -->
                        <div class="card" ng-if="tripTemp.trips[0].origTime.length > 0 && end.length > 0 && banana" ng-repeat=" trip in tripTemp">
                            <div class="item item-text-wrap">
                                <blockquote style="padding-bottom:0px; padding-top:0px; border-color:{{tripTemp.trips[$index].routes}}">
                                    <p>
                                        <b>From: </b>{{start}}
                                        <br>
                                        <b>To: </b>{{end}}
                                        <br>
                                        <b>Time Depart: </b>{{tripTemp.trips[$index].origTime}}
                                        <br>
                                        <b>Time Arrive: </b>{{tripTemp.trips[$index].destTime}}
                                        <br>
                                        <b>Fare: </b>{{tripTemp.trips[$index].fare}}
                                        <br>
                                        <b>Line: </b>
                                        {{tripTemp.trips[$index].headStation}}
                                    </p>
                                </blockquote>

                            </div>
                        </div>
                        <!--End train data -->

                    </div>

                </ion-content>
            </ion-modal-view>
        </script>
        <script id="my-modal2.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title"><i class="icon ion-ios-plus-outline"></i> Add Trip</h1>
                    <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div style="padding:5%; font-size:17px;">
                        <div class="list">

                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Depart From
                                </div>
                                <select ng-model="start">
                                    <option>12th St. Oakland City Center</option>
                                    <option>16th St. Mission</option>
                                    <option>19th St. Oakland</option>
                                    <option>24th St. Mission</option>
                                    <option>Ashby</option>
                                    <option>Balboa Park</option>
                                    <option>Bay Fair</option>
                                    <option>Castro Valley</option>
                                    <option>Civic Center/UN Plaza</option>
                                    <option>Coliseum</option>
                                    <option>Colma</option>
                                    <option>Concord</option>
                                    <option>Daly City</option>
                                    <option>Downtown Berkeley</option>
                                    <option>Dublin/Pleasanton</option>
                                    <option>El Cerrito del Norte</option>
                                    <option>El Cerrito Plaza</option>
                                    <option>Embarcadero</option>
                                    <option>Fremont</option>
                                    <option>Fruitvale</option>
                                    <option>Glen Park</option>
                                    <option>Hayward</option>
                                    <option>Lafayette</option>
                                    <option>Lake Merritt</option>
                                    <option>MacArthur</option>
                                    <option>Millbrae</option>
                                    <option>Montgomery St.</option>
                                    <option>North Berkeley</option>
                                    <option>North Concord/Martinez</option>
                                    <option>Oakland Int'l Airport</option>
                                    <option>Orinda</option>
                                    <option>Pleasant Hill/Contra Costa Centre</option>
                                    <option>Powell St.</option>
                                    <option>Richmond</option>
                                    <option>Rockridge</option>
                                    <option>San Bruno</option>
                                    <option>San Francisco Int'l Airport</option>
                                    <option>San Leandro</option>
                                    <option>South Hayward</option>
                                    <option>South San Francisco</option>
                                    <option>Union City</option>
                                    <option>Walnut Creek</option>
                                    <option>West Dublin/Pleasanton</option>
                                    <option>Dublin</option>
                                    <option>West Oakland</option>

                                </select>
                            </label>
                            <label class="item item-input item-select">
                                <div class="input-label">
                                    Arrive At
                                </div>
                                <select ng-model="end">
                                    <option>12th St. Oakland City Center</option>
                                    <option>16th St. Mission</option>
                                    <option>19th St. Oakland</option>
                                    <option>24th St. Mission</option>
                                    <option>Ashby</option>
                                    <option>Balboa Park</option>
                                    <option>Bay Fair</option>
                                    <option>Castro Valley</option>
                                    <option>Civic Center/UN Plaza</option>
                                    <option>Coliseum</option>
                                    <option>Colma</option>
                                    <option>Concord</option>
                                    <option>Daly City</option>
                                    <option>Downtown Berkeley</option>
                                    <option>Dublin/Pleasanton</option>
                                    <option>El Cerrito del Norte</option>
                                    <option>El Cerrito Plaza</option>
                                    <option>Embarcadero</option>
                                    <option>Fremont</option>
                                    <option>Fruitvale</option>
                                    <option>Glen Park</option>
                                    <option>Hayward</option>
                                    <option>Lafayette</option>
                                    <option>Lake Merritt</option>
                                    <option>MacArthur</option>
                                    <option>Millbrae</option>
                                    <option>Montgomery St.</option>
                                    <option>North Berkeley</option>
                                    <option>North Concord/Martinez</option>
                                    <option>Oakland Int'l Airport</option>
                                    <option>Orinda</option>
                                    <option>Pleasant Hill/Contra Costa Centre</option>
                                    <option>Powell St.</option>
                                    <option>Richmond</option>
                                    <option>Rockridge</option>
                                    <option>San Bruno</option>
                                    <option>San Francisco Int'l Airport</option>
                                    <option>San Leandro</option>
                                    <option>South Hayward</option>
                                    <option>South San Francisco</option>
                                    <option>Union City</option>
                                    <option>Walnut Creek</option>
                                    <option>West Dublin/Pleasanton</option>
                                    <option>Dublin</option>
                                    <option>West Oakland</option>

                                </select>
                            </label>

                        </div>
                        <p ng-if="start.length > 0 && end.length > 0">View your trip from <b>{{start}}</b> to <b>{{end}}</b>
                        </p>
                        <button class="button button-outline button-energized" ng-click="addRoute(start, end); modal2.hide(); doRefresh()">
                            Add
                        </button>

                        <!--View the actual train data -->


                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>

