<ion-view view-title="Favorites">
    <ion-content>
        <div style="margin:10px;">
            <div class="row">
                <button class="button button-small button-outline button-positive icon" style="width:60%; margin-right:2%;">Quick Lookup
                </button>
                <button class="button button-small button-outline button-positive icon ion-ios-plus-outline" style="width:20%; margin-right:2%;  margin-left:2%;">
                </button>
                <button class="button button-small button-outline button-positive icon  ion-location" style="width:20%; margin-left:2%;">
                </button>
            </div>
        </div>
        <ion-list>

            <ion-item class="item-remove-animate item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">

<blockquote style="margin-top:0px; margin-bottom:0px; padding:0px; padding-left:10px; border-color:#FF5733;">
                    <h2>{{chat.name}}</h2>
                    <p>{{chat.lastText}}</p>
                    <i class="icon ion-chevron-right icon-accessory"></i>
</blockquote>
                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Delete
                    </ion-option-button>
                </div>
            </ion-item>
<!--
            <div class="item-remove-animate " ng-repeat="chat in chats"  href="#/tab/chats/{{chat.id}}">
                <blockquote style="border-color:blue;">Yo Homeslice</blockquote>
                <hr style="padding:0px;">
            </div>
-->
        </ion-list>
    </ion-content>
</ion-view>