<ion-view view-title="Account">
    <ion-content>
        <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Location
    </ion-toggle>
    </ion-list>

        <div class="card">
            <div class="item item-text-wrap">
                The Bart app was made by students Alex Fine and Sam Schickler. If you would like to contribute to the bart app, the repository is located at <a href="https://github.com/gadgetsam/Bart-App-Ionic">https://github.com/gadgetsam/Bart-App-Ionic</a>.
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <b>What does the <span class="ion-ios-person"></span> icon symbolize?</b> The <span class="ion-ios-person"></span> tells how crowded a train is on a scale of one to three.
            </div>
        </div>
    </ion-content>
</ion-view>