<ion-view view-title="Favorites">
    <ion-content>
        <!--      <p ng-repeat="trip in trips">Orig Time "{{trip.trips[0].origTime}}" Destination Time"{{trip.trips[0].destTime}}"Orgin "{{trip.origin}}"destination"{{trip.destination}}"</p>-->
        <div style="margin:10px;">
            <div class="row">
                <button class="button button-small button-outline button-calm icon" style="width:60%; margin-right:1%;" ng-click="modal.show()">Quick Lookup
                </button>
                <button class="button button-small button-outline button-calm icon ion-ios-plus-outline" style="width:20%; margin-right:1%;  margin-left:1%;" ng-click="modal2.show()">
                </button>
                <button class="button button-small button-outline button-calm icon  ion-location" style="width:20%; margin-left:1%;" ng-click="showAlert()">
                </button>
            </div>
        </div>
        <ion-list>

            <ion-item class="item-remove-animate item-icon-right" ng-repeat="trip in trips" type="item-text-wrap" href="#/tab/chats/{{trip.id}}" ng-click="update(trip.id)">
                <blockquote style="margin-top:0px; margin-bottom:0px; padding:0px; padding-left:10px; border-color:#FF5733;">
                    <div class="row">
                        <h2>From {{trip.origin}} to {{trip.destination}}</h2>

                    </div>
                    <div class="row">

                        <p>{{trip.trips[0].origTime}} - {{trip.trips[0].destTime}} <span  style="margin-left:240px;"></span><span ng-repeat="trip in trips" class="ion-ios-person"></span> <span class="ion-android-bicycle"></span> </p>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </blockquote>
                <ion-option-button class="button-assertive" ng-click="remove(chat)">
                    Delete
                </ion-option-button>
                </div>
            </ion-item>
            <!--
            <div class="item-remove-animate " ng-repeat="chat in chats"  href="#/tab/chats/{{chat.id}}">
                <blockquote style="border-color:blue;">Yo Homeslice</blockquote>
                <hr style="padding:0px;">
            </div>
-->
        </ion-list>

        <script id="my-modal.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Select Trip</h1>
                    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div style="padding:5%; font-size:17px;">
                        <center>
                            Depart From:
                            <select ng-model="start">
                                <option>Milbrae</option>
                                <option>SFO</option>
                                <option>San Bruno</option>
                                <option>South San Francisco</option>
                                <option>Colma</option>
                                <option>Daily City</option>
                                <option>Balboa</option>
                                <option>Glen Park</option>
                                <option>24th Street</option>
                                <option>16th Street</option>
                                <option>Civic Center</option>
                                <option>Powell Street</option>
                                <option>Montogomery</option>
                                <option>Embarcadero</option>

                            </select>
                            <br>
                            <br> Arrive At:
                            <select ng-model="end">
                                <option>Milbrae</option>
                                <option>SFO</option>
                                <option>San Bruno</option>
                                <option>South San Francisco</option>
                                <option>Colma</option>
                                <option>Daily City</option>
                                <option>Balboa</option>
                                <option>Glen Park</option>
                                <option>24th Street</option>
                                <option>16th Street</option>
                                <option>Civic Center</option>
                                <option>Powell Street</option>
                                <option>Montogomery</option>
                                <option>Embarcadero</option>

                            </select>
                            <br>
                            <br>
                            <p ng-if="start.length > 0 && end.length > 0">View your trip from <b>{{start}}</b> to <b>{{end}}</b>
                            </p>
                            <button class="button button-outline button-balanced" ng-click="tripGetter(start, end)">
                                View
                            </button>


                            <!--View the actual train data -->
                            <div class="card" ng-if="start.length > 0 && end.length > 0">
                                <div class="item item-text-wrap">
                                    <blockquote style="padding-bottom:0px; padding-top:0px; border-color:#FF5733;">
                                        <p>
                                            <b>From: </b>{{start}}
                                            <br>
                                            <b>To: </b>{{end}}
                                            <br>
                                            <b>Time: </b>{{trip.origTime}}
                                            <br>
                                            <b>Fare: </b>{{trip.fare}}
                                            <br>

                                        </p>
                                    </blockquote>

                                </div>
                            </div>
                            <!--End train data -->

                        </center>
                    </div>

                </ion-content>
            </ion-modal-view>
        </script>
        <script id="my-modal2.html" type="text/ng-template">
            <ion-modal-view>
                <ion-header-bar>
                    <h1 class="title">Add Trip</h1>
                    <div class="button button-clear" ng-click="modal2.hide()"><span class="icon ion-close"></span>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <div style="padding:5%; font-size:17px;">
                        <center>
                            Depart From:
                            <select ng-model="start">
                                <option>Milbrae</option>
                                <option>SFO</option>
                                <option>San Bruno</option>
                                <option>South San Francisco</option>
                                <option>Colma</option>
                                <option>Daily City</option>
                                <option>Balboa</option>
                                <option>Glen Park</option>
                                <option>24th Street</option>
                                <option>16th Street</option>
                                <option>Civic Center</option>
                                <option>Powell Street</option>
                                <option>Montogomery</option>
                                <option>Embarcadero</option>

                            </select>
                            <br>
                            <br> Arrive At:
                            <select ng-model="end">
                                <option>Milbrae</option>
                                <option>SFO</option>
                                <option>San Bruno</option>
                                <option>South San Francisco</option>
                                <option>Colma</option>
                                <option>Daily City</option>
                                <option>Balboa</option>
                                <option>Glen Park</option>
                                <option>24th Street</option>
                                <option>16th Street</option>
                                <option>Civic Center</option>
                                <option>Powell Street</option>
                                <option>Montogomery</option>
                                <option>Embarcadero</option>

                            </select>
                            <br>
                            <br>
                            <p ng-if="start.length > 0 && end.length > 0">View your trip from <b>{{start}}</b> to <b>{{end}}</b>
                            </p>
                            <button class="button button-outline button-energized" ng-click="addRoute(start, end)">
                                Add
                            </button>

                            <!--View the actual train data -->
                            <div class="card" ng-if="start.length > 0 && end.length > 0">
                                <div class="item item-text-wrap">
                                    <blockquote style="padding-bottom:0px; padding-top:0px; border-color:#FF5733;">
                                        <p>
                                            <b>From: </b>{{start}}
                                            <br>
                                            <b>To: </b>{{end}}
                                            <br>
                                            <b>Time: </b>{{trip.origTime}}
                                            <br>
                                            <b>Fare: </b>{{trip.fare}}
                                            <br>

                                        </p>
                                    </blockquote>

                                </div>
                            </div>
                            <!--End train data -->
                        </center>
                    </div>

                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
</ion-view>
